/* Estilos gerais */
body {
    font-family: Cambria, Cochin, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #000000;
    padding: 10px 2px;
    width: 100%;
    display: inline-block;
}

.logo {
    font-size: 32px;
    font-weight: bold;
    color: #fff893;
    text-align: center;
    margin-bottom: 15px;
}

.logo span {
    color: GOLD;
}

.BARES {
    display: inline;
    background: linear-gradient(45deg, rgb(124, 70, 0), #c77803, WHITE, GOLD);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
}

h2 {
    font-family: Poppins;
    text-align: center;
}

footer {
    background-color: #1e1a20;
    color: white;
    padding: 7px 0;
    text-align: center;
}

.contact-info {
    margin-bottom: 10px;
}

.social-links a {
    color: white;
    text-decoration: none;
    margin: 0 8px;
    font-size: 22px;
}

.social-links a:hover {
    color: goldenrod;
}

#bares-info {
    background-color: #1e1a20;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

/* Estilos do carousel */
.carousel-background {
    position: relative;
    width: 100%;
    height: 65vh; /* Ajuste a altura conforme necessário */
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    width: 100%;
    height: 100%;
    animation: slide 30s infinite;
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

@keyframes slide {
    100% {
        transform: translateX(-100%);
    }
}

/* Estilos do conteúdo */
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(255, 255, 255);
    z-index: 1;
}

/* Estilos das imagens */
.bar-info img {
    width: 80%;
    max-width: 300px;
    height: auto;
    object-fit: cover;
    margin: 20px auto;
    display: block;
    border-radius: 10px;
}

/* Estilo da tabela */
#table-info {
    background-color: #1e1a20;
    color: #fff;
    padding: 40px 20px;
}

#table-info h2 {
    color: #c77803;
    text-align: center;
}

table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

table th, table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #c77803;
}

table th {
    background-color: #333;
    color: #fff;
}

table td {
    background-color: #2e2a33;
}

table tr:nth-child(even) td {
    background-color: #3a3a47;
}

/* Estilos dos links */
.bar-info a {
    color: #c77803;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.bar-info a:hover {
    color: #fff;
}

.bar-info p, .bar-info ul {
    text-align: left;
    margin: 10px 0;
}

/* Responsividade para a tabela */
@media (max-width: 768px) {
    table th, table td {
        padding: 8px;
    }

    .bar-info img {
        width: 100%;
        max-width: none;
    }
}
